.product__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 300px;
    height: 352px;
    padding: 1rem; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;

    &__name{
        font-size: 18px;
        font-weight: 700;
    }

    &__category{
        font-size: 20px;
        color: white;
    }

    &__img{
        width: 200px;
    }
}