
    .product__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        background-color: rgb(196, 196, 196);
        width: fit-content;
        padding: 1rem;
        border-radius: 10px;
        
        .product__card__img{
            max-width: 5rem;
            padding: 12px;
        }
    }

