.item__count{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;

    &__quantity{
        width: max-content;
    }

    &__cart{
        background-color: $navbarLink--skyblue;
        border: none;
        border-radius: 10px;
        max-width: fit-content;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
        transition-duration: $transitionDuration;
    }

    &__cart:hover{
        background-color: $navbarLink--orange;
        transform: $transformScale;
    }
}