.item__count{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;

    &__quantity{ 
        width: max-content;

        &__btn{
            color: white;
            background-color: $navbarLink--skyblue;
            border: none;
            border-radius: 10px;
            width: max-content;
            padding: 6px 12px;
            transition-duration: $transitionDuration;
        }

        &__btn:hover{
            background-color: $navbarLink--orange;
            transform: $transformScale;
        }
    }

    &__cart{
        background-color: $navbarLink--skyblue;
        border: none;
        border-radius: 10px;
        max-width: fit-content;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
        transition-duration: $transitionDuration;
    }

    &__cart:hover{
        background-color: $navbarLink--orange;
        transform: $transformScale;
    }
}