.navBar{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 162, 255);    
    padding-block: 0px;
    padding-inline: 0px;

    &__ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        gap: 25px;
        height: 100%;

        &__li{
            transition-duration: $transitionDuration;

            .navBar__link{
                background-color: $navbarLink--color;
                padding: 10px;
                width: 120px;
                text-align: center;
                text-decoration: none;
                border-radius: 10px;
                color: white;
                transition-duration: $transitionDuration;
            }

            .navBar__link:hover{
                background-color: $navbarLinkHover--color;
            }
        }

        &__li:hover{
            transform: $transformScale;
        }
    }
}

