.navBar{
    display: flex;
    justify-content: center;align-items: baseline;
    background-color: rgb(199, 93, 0);    
    padding-block: 0px;
    padding-inline: 0px;
    max-height: fit-content;

    &__ul{
        display: flex;
        flex-direction: row;
        padding: 0; 
        margin: 0;

        &__li{
            // transition-duration: $transitionDuration;
            max-height: fit-content;

            .navBar__link{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 4rem;
                text-align: center;
                text-decoration: none;
                color: white;
                transition-duration: $transitionDuration;
            }

            .navBar__link:hover{
                background-color:rgb(46, 157, 221);
                // color: rgb(0, 162, 255);
                transform: scale(1.1, 1.1);
            }
        }

        // &__li:hover{
        //     transform: $transformScale;
        // }
    }
}

