.item__list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;

    &__h2{
        width: 1000px;
        color: $titleColor;
    }

    &__btns{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 15px 0px;

        .item__list__container__btn{
            color: white;
            background-color: $navbarLink--skyblue;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 10px;
            max-width: fit-content;
            padding: 6px 12px;
            transition-duration: $transitionDuration;
        }
    
        .item__list__container__btn:hover{
                background-color: $navbarLink--orange;
                transform: $transformScale;
        }
    }

}
 